/target
.DS_Store
circuits/setup
contracts/output.json


# circuits
circuits/burnAddress
circuits/nullifier
circuits/merkleTree
circuits/rlp
circuits/circomlib
circuits/rapidsnark
circuits/inputs/*
circuits/proofs


# Environment files
.env

# Node.js
node_modules/
package-lock.json
yarn.lock

# IDE/Editor files
.idea/
.vscode/