/target
.DS_Store
circuits/setup
contracts/output.json
circuits/nullifier

circuits/burnAddress_files
circuits/circomlib
circuits/rapidsnark

# Environment files
.env

# Node.js
node_modules/
package-lock.json
yarn.lock

# IDE/Editor files
.idea/
.vscode/